[Unit]
Description=Automate LXC Migration Service

[Service]
User=root
Type=simple
ExecStart=/bin/bash /usr/local/sbin/Migration.sh

[Install]
WantedBy=multi-user.target
