[Unit]
Description=Automate LXC Migration Service
Wants=minute-timer.timer

[Service]
User=root
Type=simple
ExecStart=/bin/bash /usr/local/sbin/LXCMigration/Migration.sh

[Install]
WantedBy=minute-timer.target
