[Unit]
Description=Automate LXC Migration Timer

[Timer]
OnCalendar=*:0/1
Persistent=true
Unit=lxc-migration.service

[Install]
WantedBy=multi-user.target
